.button {
  color: #fff;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 0.25rem;
}

.button_primary {
  background-color: rgb(0, 132, 255);
}

.button_success {
  background-color: rgb(0, 255, 115);
}
